.page-header {
    margin: auto;
    max-width: 1600px;
    border-bottom: 1px solid rgba(47, 48, 58, 0.4);
    
   
}
.page-header__container {
    width: 1200px;
    
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}